Projet/build
Projet/nbproject
Projet/test
Projet/build.xml
Projet/manifest.mf
Projet/src/Connexion_W.form
Projet/src/Main_W.form
Projet/src/SignIn_W.form
Projet/src/AddClient.form
Projet/src/ClientTab.form
Projet/src/ProductTab.form
Projet/src/HomeTab.form
Projet/src/AddProduct.form
Projet/src/NewCat.form
Projet/src/ManageCat.form
Projet/src/SolveCatConflict.form
Projet/src/AddOrder.form
Projet/src/OrderTab.form
Projet/src/AddOrdArticle.form
Projet/src/AppWindow.form
Projet/src/UpdateOrder.form
Projet/src/AbstractAddOrdArticle.form

Projet/ressources/
Projet/src/ressources/

base_appli.mwb
base_appli.mwb.bak
Projet/Tree/*

/Projet/dist/
